
.bin {
  height: 50px;
  border: 1px solid;
  margin-left: -50px;
  border: none;
}

.preview{
  display:grid;
  grid-template-rows: 15% 85%;
  border-bottom: 1px solid gold;
}
.header{
  border: none;
  border-top: 1px solid gold;
  text-align: center;
  font-size: clamp(0.8rem,2vw,1.6rem);
  padding: 0;
  margin: 0;
  margin-top: 3%;
}

.bin:hover {
  opacity: 0.5;
  
  cursor: pointer;
}
.none{
  display: none;
}

.imageUpload{
  display: none;
}

.uploadBtn,.imagePrev {
width: clamp(100px,15vw,220px);
height: clamp(100px,15vw,220px);
 border-radius: 15px;
 object-fit:cover;
}
.imageLabel,.uploadBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  font-size: clamp(0.5rem,1.5vw,2rem);
  font-weight: 900;
  background-color: lightyellow;
  
}

.uploadNew{
  color: var(--background-color);
  display:flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;
  margin-top: 25px;
  gap: 5px;
}
.imageLabel:hover {
  cursor: pointer;
  opacity: 0.7;
}
.icon{
  height: clamp(20px,3vw,70px)
}


