.main {
  width: clamp(280px,98vw,1850px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
margin: auto;
overflow-y: auto;


}
.content {
  border-radius: 30px;
  margin-top: 10px;
  color: aliceblue;
  display: grid;
width: 98%;
  border-radius: 15px;
  background-color: var(--navbar-light);
  color: aliceblue;
  margin: auto;
  margin-top: 10px;
}


.formWrapper {
  display: grid;
  grid-template-columns: 40%60%;

}
.wrap{
display: flex;
grid-template-rows: 50% 50%;

}
.name,.location{
  width: 50%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
label{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: clamp(0.8rem,2vw,2rem);
}
 input {
  height: 30px;
  min-width: 120px;
  border-radius: 15px;
  z-index: 9999;
}
textarea{
  width: 90%;
  margin: auto;
  height: 70px;
  border-radius: 15px;
}
select{
  height: 30px;
  border-radius: 15px;
}
.datePicker {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.datePicker > h4 {
  margin: 0;
  border: 1px solid rebeccapurple;
}
.datePicker > div > select {
  text-align: center;
  height: 30px;
  width: 100%;
  max-width: 200px;
  min-width: 60px;
  border-radius: 15px;
  border: 1px solid gold;
  z-index: 9999;
}
.datePicker>div{
  width: 40%;
  max-width: 220px;
}



.description {
  display: grid;
  border-radius: 15px;
}
.description > div > textarea {
  height: 90%;
  width: 90%;
  border-radius: 15px;
  border: 1px solid gold;
}
.description > div > textarea:focus,
.formWrapper > div > div > input:focus,
.datePicker:focus {
  outline: none;
  border: none;
}
.map {
  height:50vh;
  max-height: 500px;
  width: 90%;
  max-width: 800px;
  margin: auto;
  margin-top: 15px;
  outline: none;
  z-index: 0;
}
.form {
width: 99%;
margin: auto;
border-radius: 15px;
  background-color: var(--foreground-color);
 
}


.bin {
  height: 50px;
  border: 1px solid;
  margin-left: -50px;
  border: none;
}

.photos {
  border-top: 1px solid yellow;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 48% 48%;
  column-gap: 4%;


}
.oldImages,.newImages{
  display:grid;
  grid-template-rows: 10% 90%;
}


.photo{
  margin: 0 5px;
}

.bin:hover {
  opacity: 0.5;
  
  cursor: pointer;
}
.none{
  display: none;
}

.imageUpload{
  display: none;
}

.uploadBtn,.imagePrev {
width: clamp(50px,14vw,270px);
height: clamp(50px,14vw,270px);
 border-radius: 15px;
 object-fit:fill;
}
.imageLabel,.uploadBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: clamp(0.5rem,1.5vw,2rem);
  font-weight: 900;
  background-color: lightyellow;
  
}

.uploadNew,.photoList{
  color: var(--background-color);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  max-height: 40vh;
  overflow-y: auto;
  justify-items: center;
  margin-top: 25px;
}
.imageLabel:hover {
  cursor: pointer;
  opacity: 0.7;
}
.icon{
  height: clamp(20px,3vw,70px)
}


.photoHeader{
  font-size: clamp(1rem,2vw,2rem);
  margin: 0 auto;
  padding: 0;
  height:clamp(1rem,2vw,3rem);
}
.submit{
  width: 50%;
  margin: auto;
  border-radius: 50px;
  height: 50px;
  font-size: clamp(1.5rem,2vw,2rem);
  font-weight: 900;
  background-color: var(--foreground-color);
  color: aliceblue;
  margin-top: 20px;
  border: none;
}
/* ANIMATION */
.animation {
 height: 100vh;
 width: 100%;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin: auto;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.succes{
  position: fixed;
  top: 0;
  z-index: 99999999999999;
  background-color: var(--background-color);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 2rem;
  height: 100vh;
}

.headers {
  width: 95%;
  max-width: 1800px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: auto;
  align-items: center;
}

.link {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  text-decoration: none;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightyellow;
  color: rgb(26, 19, 19);
  border-radius: 15px;
  height: 70%;
  padding:0 5px;
  font-weight: 900;
  z-index: 2;
  margin-left: 2vw;
}
.iconl {
  height: clamp(20px,2vw,30px);
}

@media screen and (max-width:800px) {
  input{
    min-width: unset;
    width: clamp(10px,25vw,230px);
  }
  select{
    min-width: unset;
    width:clamp(20px,20vw,120px);
  }
  .content{
    width: 99%;
  }
  .formWrapper{
    grid-template-columns: 100%;
  }
 
    
 
    .photoHeader{
      border: none;
      text-align: center;
      font-size: clamp(0.8rem,2vw,1rem);
    }
    .map{
      height: 30vh;
    }
    .uploadBtn,.imagePrev {
      width: clamp(50px,13vw,270px);
      height: clamp(50px,13vw,270px);
       border-radius: 15px;
       object-fit:fill;
      }
}
@media screen and (max-width:500px) {
  .uploadNew,.photoList{
 
    grid-template-columns: repeat(2,1fr);
    
  }
  .uploadBtn,.imagePrev {
    width: clamp(20px,20vw,270px);
    height: clamp(20px,20vw,270px);
     border-radius: 15px;
     object-fit:fill;
    }
}

.submit:hover{
  cursor: pointer;
  opacity: 0.7;
}